@font-face {
    font-family: 'SokchoBadaDotum';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WAGURITTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    color: #000;
}

button {
    font-family: 'Oswald', sans-serif;
    line-height: 5px;
}

.container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.name a {
    font-size: 24px;
    color: #F24B2A;
    text-decoration: none;
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
}

nav ul a {
    font-size: 15px;
    color: #F24B2A;
    text-decoration: none;
    display: flex;
}

.menu {
    font-size: 15px;
    color: #F24B2A;
    text-decoration: none;
    display: inline-block;
}

.menu-content {
    display: none;
}

nav:hover .menu-content {
    display: flex;
    padding: 10px;
}

.menu-category ul {
    display: flex;
    justify-content: center;
}

nav:hover .menu {
    display: none;
}

.introduce {
    font-size: 50px;
    color: #F24B2A;
}

main {
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    width: 200px;
    height: 200px;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.email, .myname {
    font-size: 15px;
    color: #F24B2A;
    text-decoration: none;
}

#korean {
    font-family: 'WAGURITTF';
}

.introMenu a {
    font-size: 24px;
    color: #F24B2A;
    text-align: center;
    padding: 100px;
}

.intro-menu {
    padding: 0 auto;
}

.introMenu {
    padding-top: 40px;
}

.introContent {
    font-size: 24px;
    color: black;
    padding: 25px;
}

.PageintroContent {
    font-size: 16px;
    color: black;
    padding: 15px;
}

.PageintroContent h2 {
    font-size: 30px;
    color:#F24B2A;
}

.login label {
    font-size: 16px;
    color: black;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100px;
    height: 25px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.login button {
    width: 100px;
    height: 30px;
    background-color: white;
    color: #45a049;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login button:hover {
    background-color: #45a049;
    color: white;
}

#logoutButton {
    width: 100px;
    height: 30px;
    background-color: white;
    color: #d32f2f;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: none;
}

#logoutButton:hover {
    background-color: #d32f2f;
    color: white;
}

#usernameDisplay {
    font-size: 18px;
    display: none;
}

.logout-section {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.board-container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid black;
}

th, td {
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

.board-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.board-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color:#F24B2A;
}

.clicktitle:hover {
    color:#F24B2A;
    cursor: pointer;
}

.board-buttons button:hover {
    background-color:#F24B2A;
    color: white;
}

.star {
    color:#F24B2A;
    font-size: 15px;
}

.form-container {
    margin-top: 20px;
    margin: 0 auto;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    font-size: 15px;
}

#rating {
    font-size: 15px;
    color:#F24B2A;
}

#shopSelect {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    font-size: 15px;
}

#title {
    font-size: 15px;
    width: 100%;
}

#postForm button {
    border: 1px solid black;
    height: 20px;
    padding: 13px 20px;
    border-radius: 4px;
    background-color: white;
    color:#F24B2A;
    cursor: pointer;
    font-size: 15px;
    line-height: 0.01;
}

#postForm button:hover {
    color: white;
    background-color: #F24B2A;
}

#cancelButton a {
    text-decoration: none;
    color:#F24B2A;
}

#cancelButton:hover a {
    color: white;
    background-color: #F24B2A;
}